source https://nuget.org/api/v2

nuget DevILSharp
nuget FSharp.Formatting 2.8.0
nuget FSharpVSPowerTools.Core 1.7.0
nuget Magick.NET-Q16-AnyCPU
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget PerfUtil
nuget SourceLink.Fake
nuget vvvv.FreeImage

github fsharp/FAKE modules/Octokit/Octokit.fsx
github MemFusion/memfusion_prototype MFUtil/GroupWhen.fs
